<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title th:text="${title}"></title>
</head>

<body>
	<section layout:fragment="content">
		<div>
			<form th:action="@{/muscle/growth}" 
				  method="post" 
				  enctype="multipart/form-data" 
				  th:object="${growthForm}">
				<div class="form-group">
					<label for="dT" class="form-label">時刻</label>
					<input type="datetime-local" id="dT" th:field="*{doTime}" class="form-control" th:errorclass="is-invalid">
					<span th:errors="*{doTime}" class="invalid-feedback"></span>	
				</div>
				<div class="form-group mt-3">
					<label for="iF" class="form-label">画像</label>
					<input type="file" id="iF" th:field="*{imageFile}" class="form-control" th:errorclass="is-invalid">
					<span th:errors="*{imageFile}" class="invalid-feedback"></span>
				</div>
				<div class="mt-3">
					<button type="submit" class="btn btn-primary" th:text="${mode == 'CREATE'} ? '登録' : '編集'"></button>
					<a th:href="@{/muscle/growth}" class="btn btn-secondary">戻る</a>
				</div>
			</form>
		</div>
	</section>
</body>

</html>