<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}"
>
<head>
	<title th:text="${title}"></title>
	<style>
		.centered-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 80vh;
		}
	</style>
</head>
<body>
<section layout:fragment="content">
	<div class="centered-content text-center">
		<h2 class="h2">さあ！トレーニングを管理して理想の身体へ</h2>
		<a th:href="@{/muscle/view}" class="btn btn-primary btn-lg mt-3">はじめる</a>
	</div>
</section>
</body>
</html>