<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title th:text="${title}"></title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
	<section layout:fragment="content">
		<a th:href="@{/muscle/weight}" class="btn btn-secondary">戻る</a>
		
		<canvas id="chart"></canvas>
		<script th:inline="javascript">
			var timeLabels = /*[[${timeList}]]*/[];
			var weightData = /*[[${weightList}]]*/[];
		</script>
		<script>
			window.onload = function () {
				var ctx = document.getElementById("chart").getContext("2d");
				window.myLine = new Chart(ctx, {
					type: 'line',
					data: {
						labels: timeLabels,
						datasets: [
							{
								label: "体重",
								borderColor: 'rgb(51, 102, 255)',
								data: weightData,
							},
						]
					},
					options: {
						responsive: true,
					}
				});
			}
		</script>

	</section>
</body>

</html>